<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sketch Tracker</title>
</head>
<body>
  <header class="header">
    <h1 class="nav-title"><a href="/">Sketchr</a></h1>
    <div class="btn-container">
      <a href="/login" class="btn">login</a>
      <a href="/signup" class="btn">signup</a>
    </div>
  </header>
  <main>
    <section class="hero">
      <div>
        <h1 class="main-title"><span class="title-emphasis">Consistency</span> first. <br> <span class="title-emphasis">Motivation</span> later.</h1>
        <p class="main-subtitle"><span class="subtitle-emphasis">Sketchr</span> is your online art journal meant to help you form the habit of drawing consistently and looking back at your progress.</p>
        <p class="subtitle-catch-phrase">
          No pressure. No obligations. No distractions.
        </p>
      </div>
    </section>
  </main>
</body>
</html>