* {
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    box-sizing: border-box;

}

.index-bg {
    min-height: 100vh;
    width: 100%;
    background-size: contain;
    background-image: url('/assets/index.png');
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    /* background-color: rgba(255, 255, 255, 0.569); */
}

.main-title{
    font-size: 10rem;
    font-weight: 700;
    display: grid;
    place-content: center;
    color: #62cc90;
    text-shadow: 3px 5px 2px #202020;
    -webkit-text-stroke: 1px black;
}

.nav-title a{
    font-size: small;
    text-decoration: none;
    color: black;
}

.nav-title a:hover{
    cursor: pointer;
    color: #62cc90;
}

header {
    width: 100vw;
    padding: 1rem .3rem;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: rgb(255, 255, 255);
}

header > div {
    display: flex;
    flex-direction: row;
    gap: .3rem;
}

header > div > form {
    display: flex;
    flex-direction: row;
}

#add,
#enter {
    padding: 0 .75rem;
    display: block;
}

.btn {
    text-align: center;
    border-radius: 5px 5px;
    padding: .3rem .5rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(35, 35, 44);
    text-decoration: none;
}

.make-post-form {
    width: 100vw;
    padding: 1.5rem 3rem;
    background-color: rgb(196, 196, 196);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .3rem;
    position: absolute;
    top: -285px;
    transition: all .3s;
    z-index: 9;
}

.make-post-form.down{
    top: 60px;
}

.make-post-form label {
    display: none;
}

.make-post-form div {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 40px;
}

input, textarea, select{
    padding: 10px 5px;
    border-radius: 3px 3px;
    border: .5px solid rgb(53, 53, 53);
}


.btn:hover{
    color: rgb(35, 35, 44);
    outline: 3px solid rgb(35, 35, 44);
    background: rgb(17, 17, 18);
    background: linear-gradient(37deg, rgba(86,195,178,1) 8%, rgba(231,164,50,0.9993708420868347) 41%, rgba(251,134,221,1) 65%, rgba(97,60,160,1) 100%);
}

li {
    position: relative;
    list-style: none;
    overflow: hidden;
}

/*//////FEED POSTS INFROMATION/////////////////*/

.postsSection{
    display: grid;
    min-height: 100vh;
    place-content: center;
    padding: .75rem 1rem; 
    z-index: 1;
}

.postsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: .3rem;
}

@media only screen and (min-width: 425px) {
    .postsList{
        grid-template-columns: repeat(4, 1fr);
    }
  }

@media only screen and (min-width: 768px) {
    .postsList{
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}

@media only screen and (min-width: 1440px) {
    .postsList{
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
}

.post{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 3px 3px;
    border: .5px solid rgb(136, 114, 114);
}

@media only screen and (min-width: 768px) {
    .post{
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    .post{
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 1440px) {
    .post{
        width: 250px;
        height: 250px;
    }
}

.post-profile img,
.post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

span {
    font-size: 2rem;
    letter-spacing: -15px;
    text-align: center;
    color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all .3s ease;
    background-color: rgba(0, 0, 0, 0.374);
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover span{
    cursor: pointer;
    letter-spacing: 0px;
    top: 0;
}

.login-container,
.sign-up-container {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.login-signup-form{
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: linear-gradient(37deg, rgba(86,195,178,1) 8%, rgba(231,164,50,0.9993708420868347) 41%, rgba(251,134,221,1) 65%, rgba(97,60,160,1) 100%);
}

.login-signup-form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.login-signup-form.sign-up{
    margin-top: 5rem;
}

.emailHelp{
    padding: 0;
    margin: 0;
}

/*////////////////////////PROFILE INFORMATION//////////////////////////////*/

.profile-top-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 2rem; */
}

.profile-top-details p {
    font-size: 10px;
}

.profile-content-container{
    min-height: 100vh;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 .3rem 0 .3rem;
    gap:1rem;
}

@media only screen and (max-width: 768px) {
    .profile-content-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 1rem 0 1rem;
    }
  }


.profile-user-info,
.profile-posts {
    background-color: white;
    width: 100%;
    padding: .3rem .3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile-user-info {
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info > form {
    display: flex;
    flex-direction: row;
}

/*//////////PROFILE STREAK STYLES////////*/
.days-month{
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
}

.days {
    background-color: rgb(206, 194, 194);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    font-size: 6px;
}

.days.green {
    background-color: #62cc90;
}

/*//////////END PROFILE STREAK STYLES////////*/
.profile-posts{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.postsSection-profile{
    display: grid;
    place-content: center;
    width:100%;
    z-index: 1;
}

.postsList-profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: .3rem;
}

@media only screen and (min-width: 425px) {
    .postsList-profile{
        grid-template-columns: repeat(4, 1fr);
    }
  }

@media only screen and (min-width: 768px) {
    .postsList-profile{
        grid-template-columns: repeat(4, 1fr);
        gap: .5rem;
    }
}

.post-profile{
    width: 100px;
    height: 100px;
    border-radius: 3px 3px;
    border: .5px solid rgb(136, 114, 114);
}

@media only screen and (min-width: 768px) {
    .post-profile {
        width: 150px;
        height: 150px;
    }
  }


.post-title-profile {
    font-size: 1rem;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all .3s ease;
    background-color: rgba(0, 0, 0, 0.374);
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover .post-title-profile{
    cursor: pointer;
    top: 0;
}

/*////////////////////////INDIVIDUAL POST INFORMATION//////////////////////////////*/
.post-container{
    border: 2px solid red;
    padding: .3rem 1rem;
    min-height: 100vh;
    display: grid;
    gap: .5rem;
    place-content: center;
}

.content-container{
    border: 2px solid blue;
    width: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media only screen and (min-width: 768px) {
    .content-container{
        width: 450px;
    }
}

.content-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 0 .2rem 0 .2rem;
}

@media only screen and (min-width: 1024px) {
    .post-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 2rem;
    }
}

@media only screen and (min-width: 1440px) {
    .post-container{
        padding: 0 6rem;
    }
}

picture {
    display: block;
    border: 2px solid yellowgreen;
    width: 100%;
    height: 250px;
    background-color: white;
}

@media only screen and (min-width: 768px) {
    picture{
        height: 500px;
    }
}

@media only screen and (min-width: 1440px) {
    picture{
        height: 550px;
    }
}

.ind-post-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.ind-post-info {
    background-color: white;
}

.back-btn{
    display: inline;
}


.post-edit-delete-container{
    display: flex;
    flex-direction: row;
    gap: .2rem;
}
