* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: radial-gradient(circle at top, #ff94d6 , #b3e5b4);
}

/**********ERROR AND ALERT MESSAGES STYLING*************/

.alert{
    background-color: rgba(255, 164, 164, 0.9);
    color: rgb(203, 0, 0);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    padding: .7rem .3rem;
    margin-bottom: .3rem;
}


/**********END ERROR AND ALERT MESSAGES STYLING*************/

/**********BTN, TITLE, SUBTITLE FONT SIZES*************/
.nav-title a,
.btn,
.pp-img-upload-btn,
.main-subtitle{
    font-size: 1rem;
}
/**********END BTN, TITLE, SUBTITLE FONT SIZES*************/

button {
    background-color: transparent;
}

main {
    position: relative;
    width: 100%;
}

.hero > div {
    width: 550px;
    display: flex;
    flex-direction: column;
}

.main-title,
.nav-title a{
    font-family: "Lobster", serif;
}

.main-title{
    font-size: 2rem;
    font-weight: 500;
    color: rgb(26, 26, 26);
    text-align: center;
}

.main-subtitle{
    text-align: center;
    line-height: 1.8rem;
    margin-top: 1rem;
    font-weight: 400;
}

.title-emphasis{
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
}

.subtitle-emphasis{
    font-weight: 700;
}

.subtitle-catch-phrase{
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: center;
    font-weight: 500;
}

.nav-title a{
    text-decoration: none;
    color: black;
}

.nav-title a:hover{
    cursor: pointer;
    color: #62cc90;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    padding: .5rem .3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: rgb(255, 255, 255);
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.desktop-nav-btns{
    display: none;
}

.mobile-nav-btns a {
    text-decoration: none;
}

header > div > form {
    display: flex;
    flex-direction: row;
}

.btn {
    text-align: center;
    border-radius: 30px 30px;
    border: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: rgb(35, 35, 44);
    text-decoration: none;
}

.btn:hover{
    color: rgba(86,195,178,1);
    cursor: pointer;
}

.login-signup {
    color: white;
}

.login-signup:hover {
    color: #E4B2CA;
}

.make-post-form {
    width: 100vw;
    padding: 1.5rem 2rem .5rem 2rem;
    background-color: rgb(196, 196, 196);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .3rem;
    position: absolute;
    left: 0;
    top: -110px;
    transition: all .3s;
    z-index: 9;
}

.make-post-form.down{
    top: 49px;
}

.make-post-form label {
    display: none;
}

.make-post-form div {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 40px;
}

input, textarea, select{
    padding: 10px 5px;
    border-radius: 3px 3px;
    border: .5px solid rgb(53, 53, 53);
    background-color: white;
}

li {
    position: relative;
    list-style: none;
    overflow: hidden;
}

/*//////FEED POSTS INFROMATION/////////////////*/

.postsSection{
    z-index: 1;
}

.postsList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: .3rem;
}

.post{
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 3px 3px;
    border: 1px solid rgb(21, 21, 21);
}

.post-profile img,
.post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.post-title-profile {
    font-size: 3rem;
    letter-spacing: -15px;
    text-align: center;
    color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all .3s ease;
    background-color: rgba(0, 0, 0, 0.374);
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover .post-title-profile{
    cursor: pointer;
    letter-spacing: 0px;
    top: 0;
}

.login-signup-form{
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 300px;
    padding: 1rem 1rem;
    margin: 0 .5rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(33, 33, 33);
}

.login-signup-form > div {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.login-signup-form label {
    font-size: 1.6rem;
}

.emailHelp{
    padding: 0;
    margin: 0;
}

/*////////////////////////PROFILE INFORMATION//////////////////////////////*/

.profile-top-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 2rem; */
}

.profile-top-details p {
    font-size: 10px;
}

.profile-content-container{
    min-height: 100vh;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 3.5rem;
    gap:.3rem;
}

.profile-user-info,
.profile-posts {
    width: 100%;
    padding: .3rem .3rem;
}

.profile-user-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    position: relative;
}

.profile-img-container {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background-color: rgba(86,195,178,1);
    overflow: hidden;
}

.user-info > div + div {
    display: flex;
    flex-direction: column;
}

.user-name{
    display: flex;
    font-size: 2rem;
    font-weight: 400;
}

.user-joined-date {
    font-size: .8rem;
}

.follow-btn{
    background-color: rgb(27, 27, 27);
    color: white;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 30px 30px;
}

.user-info-img.hidden{
    display: none;
}

.user-info-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile-img-container > h5{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
}

.edit-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2020208f;
    color: whitesmoke;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: .3s ease-in-out;
}

.profile-img-container:hover .edit-img-overlay{
    opacity: 1;
    cursor: pointer;
}

.edit-profile-img {
    width: 100%;
    /* height: 100%; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    padding: 1rem;
    border: 1px solid rgb(22, 22, 22);
}

.edit-profile-img.hide{
    display: none;
}

.edit-profile-img> form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.pp-img-upload-btn{
    border: 1px solid rgb(18, 18, 18);
    padding: .4rem 0;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    transition: .2s ease-in-out;
}
/*//////Hover for pp-img-upload-btn on line 730 with desktop-nav-btn hover*/


.user-pp-container,
.profile-posts-tracker{
    background-color: white;
    padding: .5rem;
    border: 1px solid #202020;
}

.profile-posts-tracker h1{
    text-align: center;
    margin-bottom: .5rem;
}

/*//////////PROFILE STREAK STYLES////////*/
.days-month{
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
}

.days {
    background-color: rgb(191, 191, 191);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    font-size: 6px;
    /* box-shadow: rgba(59, 67, 73, 0.426) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.258) -3px -3px 6px 1px inset; */
}

.days.green {
    background-color: #62cc90;
}


.profile-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-posts h5 {
    font-size: 2rem;
    font-weight: 500;
    background-color: white;
    padding: .3rem .5rem;
    width: max-content;
    border: 1px solid #202020;
}

/*//////////END PROFILE STREAK STYLES////////*/
.postsSection-profile{
    display: grid;
    place-content: center;
    width:100%;
    z-index: 1;
}

.postsList-profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: .3rem;
}

.post-profile{
    background-color: white;
    width: 100px;
    height: 100px;
    outline: 1px solid rgb(31, 28, 28);
}

/*////////////////////////INDIVIDUAL POST INFORMATION//////////////////////////////*/
.post-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.content-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #202020;
    height: max-content;
}

.content-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 0 .2rem 0 .2rem;
}

picture {
    display: block;
    width: 100%;
    height: 300px;
    background-color: white;
}

.ind-post-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.ind-post-info {
    padding: .3rem .3rem;
    display: flex;
    background-color: white;
    min-height: min-content;
    border: 1px solid #202020;
}

.ind-post-info .post-edit-form {
    width:100%;
    display: flex;
    flex-direction: column;
}

.post-edit-form .edit-inputs {
    display: none;
}

.edit-inputs.edit-hidden {
    display: flex;
}

.post-edit-form-btn{
    padding: .5rem 0;
    align-items: center;
    gap: 1rem;
}

.back-btn{
    display: inline;
}

.post-edit-delete-container{
    display: flex;
    flex-direction: row;
    gap: .2rem;
}

/*////////////////MEDIA QUERIES///////////////////*/
@media only screen and (min-width: 425px) {
    .login-signup-form{
        width: 400px;
        height:auto;
    }
    .nav-title a,
    .btn,
    .pp-img-upload-btn{
    font-size: 1.2rem;
    }

    .edit-profile-img{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    /* .postsList{
        grid-template-columns: repeat(3, 1fr);
    } */

    .profile-content-container{
        padding: 3.5rem 1rem 0 1rem;
  }

  .postsList-profile{
    grid-template-columns: repeat(4, 1fr);
}
}

@media only screen and (min-width: 768px) {
    .login-signup-form{
        width: 400px;
        height:480px;
    }
    .btn,
    .pp-img-upload-btn{
    font-size: 1.6rem;
    }

    .alert{
        margin-bottom: 0;
    }
    .main-title{
        font-size: 4rem;
    }

    .postsList{
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .post{
        width: 200px;
        height: 200px;
    }

    header {
        padding: .5rem 1rem;
    }

    .profile-content-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 5rem 1rem 0 1rem;
        gap:1rem;
    }

    .profile-user-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }  

    .user-name {
        font-size: 2.5rem;
    }

    .user-joined-date {
        font-size: 1rem;
    }

    .user-info,
    .profile-posts-tracker{
        padding: 1rem;
    } 

    .days {
        width: 20px;
        height: 20px;
    }

    .postsList-profile{
        grid-template-columns: repeat(4, 1fr);
        gap: .5rem;
    }

    .post-profile {
        width: 170px;
        height: 170px;
    }

    .post-container{
        grid-template-columns: repeat(2, 1fr);
        padding-top: 3rem;
    }

    .content-container{
        width: 400px;
    }

    picture{
        height: 500px;
    }

    .post-edit-form {
        font-size: 1.4rem;
     }
 
     .post-edit-form h6{
         font-size: 1.4rem;
     }

}

@media only screen and (min-width: 1024px) {
    /* .btn,
    .pp-img-upload-btn{
    font-size: 1.8rem;
    } */

    .desktop-nav-btns{
        display: flex;
        align-items: center;
    }
    .desktop-nav-btns div {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .desktop-nav-btns div button{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        transition: .1s ease-in;
    }

    .desktop-nav-btns div a {
        text-decoration: none;
    }

    .btn-subtitle-desktop {
        position: absolute;
        top: 3.5rem;
        left: 0;
        padding: .2rem 0;
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: rgb(56, 58, 58);
        width: 100%;
        border-radius: 5px;
        color:white;
        opacity: 0;
        transition: .2s ease-in-out;
    }

    .pp-img-upload-btn:hover,
    .desktop-nav-btns div button:hover{
        cursor: pointer;
        background-color: rgb(56, 58, 58);
    }

    .desktop-nav-btns div:hover .btn-subtitle-desktop{
        opacity: 1;
    }

    .mobile-nav-btns{
        display: none;
    }

    .post{
        width: 300px;
        height: 300px;
    }

    .postsList-profile{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: .5rem;
    }

    .postsSection-profile{
        padding: 1rem;
    }

    .post-container{
        max-width: fit-content;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 2rem;
        gap: 2rem;
    }

    .ind-post-info {
        padding: 1rem 1rem;
    }
}

@media only screen and (min-width: 1440px) {
    .postsList{
        grid-template-columns: repeat(5, 1fr);
    }

    .post{
        width: 250px;
        height: 250px;
    }

    .profile-user-info {
        place-content: center;
        grid-template-columns: repeat(2, 500px);
    }

    .user-info {
        align-items: flex-start;
    }

    .profile-img-container{
        height: 150px;
        width: 150px;
    }

    .post-container{
        padding: 0 6rem;
    }

    picture{
        height: 550px;
    }
}